@import "tailwindcss";

:root {
  --background: #f5f4ff;
  --foreground: #171717;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-xxs: 360px;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --color-primary: #556fd7;
  --color-primary-hover: #4559b5;
  --color-secondary: #9333ea;
  --color-outline: #9333ea;
  --color-outline-hover: #e1e0fa;
  --color-border: #bcb4ff;
  --color-view: #74c1ff;
  --color-view-hover: #4fa8f8;
  --color-warning: #ffc107;
  --color-warning-hover: #e0a800;
  --color-danger: #dc3545;
  --color-danger-hover: #b02a37;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.ant-table-wrapper .ant-table {
  min-width: 100%;
}

.ant-table-wrapper .ant-table-container {
  overflow-x: auto;
}

/* ===== Custom scrollbar style ===== */
/* Global scrollbar */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 8px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; /* slate-400 */
}

/* Thin scrollbar */
.custom-thin-scrollbar::-webkit-scrollbar {
  width: 6px; /* perkecil lebar */
}

.custom-thin-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* transparan biar gak ganggu */
}

.custom-thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 9999px; /* bikin bulat */
}

.custom-thin-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

/* ===== Ant Design Input Style ===== */
/* ubah warna placeholder Select Ant Design */
.ant-select-selection-placeholder {
  color: #000000 !important;
  opacity: 1;
}

/* ===== Leaderboard Table Style ===== */

/* Hilangkan rounded bawaan Ant Design */
.leaderboard-table .ant-table,
.leaderboard-table .ant-table-container,
.leaderboard-table .ant-table-thead > tr:first-child > *:first-child,
.leaderboard-table .ant-table-thead > tr:first-child > *:last-child {
  border-radius: 0 !important;
}

.leaderboard-table .ant-table-thead > tr > th {
  background-color: #556fd7 !important;
  color: white !important;
  font-size: 1rem;
  font-weight: 600;
  padding: 4px 16px;
  border: none !important;
  border-right: none !important;
}

.leaderboard-table .ant-table-tbody > tr > td {
  font-size: 0.875rem;
  padding: 4px 16px;
  border-top: 1px solid #aca8ff;
  border-bottom: none !important;
}

.leaderboard-table .ant-table-tbody > tr:nth-child(odd) {
  background-color: #eae9ff;
}

.leaderboard-table .ant-table-tbody > tr:nth-child(even) {
  background-color: #f5f4ff;
}

.leaderboard-table .ant-table-tbody > tr:last-child > td {
  border-bottom: 1px solid #aca8ff !important;
}
